/* Global Styles */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #0a1f44; /* Dark Royal Blue */
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #1f77ff;
}

a:hover {
  color: #a8cfff;
}

/* Navbar Styles */
.nav {
  background-color: #0a1f44;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  text-decoration: underline;
}

.nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav li {
  margin: 0 1rem;
  list-style: none;
}

.nav a {
  color: #ffffff;
  font-weight: bold;
}

.nav a:hover {
  color: #22446e;
}

/* Hero Section */
.hero {
  background-color: #0a1f44;
  color: #ffffff;
  text-align: center;
  padding: 10rem 1rem;
}

.hero h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  max-width: 800px;
  margin: 0 auto;
}


/* Footer Styles */
footer {
  background-color: #0a1f44;
  padding: 2rem;
  text-align: center;
}

footer p {
  margin: 0;
  color: #a8cfff;
}
footer li {
  list-style: none;
}